@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 216 34% 17%;
    --foreground: 0 0% 98%;
    --card: 216 34% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 216 34% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 89% 51%;
    --primary-foreground: 195 100% 10%;
    --secondary: 215 28% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 22%;
    --muted-foreground: 215 10% 65%;
    --accent: 195 89% 51%;
    --accent-foreground: 195 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 22%;
    --input: 215 28% 22%;
    --ring: 195 89% 51%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 40% 5%;
    --foreground: 0 0% 98%;
    --card: 220 40% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 220 40% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 89% 51%;
    --primary-foreground: 195 100% 10%;
    --secondary: 216 34% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 34% 17%;
    --muted-foreground: 215 10% 65%;
    --accent: 195 89% 51%;
    --accent-foreground: 195 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 195 89% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
